<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="debug"
    internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.AWS.Logger" />
	</extensions>
	<targets>
		
	</targets>		

	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
	</rules>
</nlog>