<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://0.0.0.0:5000" />
          <environmentVariable name="DOTNET_LOGGING__CONSOLE__DISABLECOLORS" value="true" />
          <environmentVariable name="LOGGING__LOGLEVEL__DEFAULT" value="Debug" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
