files:
  "/etc/systemd/system/pulr-webapp.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=PULR WebApi Application
      After=network.target

      [Service]
      ExecStart=/usr/bin/dotnet /var/app/current/WebApi.dll
      WorkingDirectory=/var/app/current
      Restart=always
      RestartSec=10
      SyslogIdentifier=pulr-webapp
      User=webapp
      Environment=ASPNETCORE_ENVIRONMENT=Development
      Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
      Environment=DOTNET_LOGGING__CONSOLE__DISABLECOLORS=true
      Environment=LOGGING__LOGLEVEL__DEFAULT=Debug

      [Install]
      WantedBy=multi-user.target
commands:
  enable_service:
    command: systemctl enable pulr-webapp.service
    ignoreErrors: true
  start_service:
    command: systemctl start pulr-webapp.service
    ignoreErrors: true
